# Phpstorm
.idea/*

### Laravel template
vendor/
!resources/views/vendor
node_modules/
public/storage
storage/*.key
vendor
/.idea
storage/
bootstrap/cache/
.env.*.php
.env.php
.env

tests/_output/*
.gitignore
/composer.lock
