# Composer
vendor/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Laravel 5
public/storage
storage/*.key
storage/framework/cache/
.env.*.php
.env.php
.env
/public/hot
Homestead.json
Homestead.yaml

# PhpStorm
.idea

# Ansible
supplemental/ansible

# Vagrant
.vagrant

# Tests
tests/_output/*
.phpunit.result.cache

# Override generic rules
!resources/views/vendor/
!resources/lang/vendor/
!supplemental/vagrant

\.DS_Store

ignore.*
*.ignore

